<div class="p-3 px-5 text-xs">
  <span>Alamat pengiriman kamu</span>
  <div class="flex justify-between w-full items-center">
    <div class="flex flex-col w-11/12">
      <div class="flex items-center overflow-none">
        <i class="fa-sm fa-solid fa-location-dot text-green-600 mr-2"></i>
        <b class="truncate">Rumah . Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illo volupta</b>
      </div>
      <div class="truncate text-gray-400">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat maiores amet impedit
      </div>
    </div>
    <div class="w-1/12 flex justify-end">
      <i class="fa-md fa-solid fa-chevron-right text-gray-400"></i>
    </div>
  </div>
</div>

<div class="h-2 w-full bg-gray-100"></div>
<div class="p-3">
  <div class="flex w-full items-center border-2 border-green-300 rounded-xl text-xs p-2">
    <div class="w-11/12 flex items-center space-x-2">
      <div class="border rounded-xl bg-green-100 text-green-600 p-2">
        <b>Plus</b>
      </div>
      <div class="">
        Langganan PLUS bisa puas belanja pakai<br/>
        <b>Bebas Ongkir tanpa batas !</b><br/>
        <b class="text-gray-400">Rp15.000/bulan</b>
      </div>
    </div>
    <div class="w-1/12 flex justify-end">
      <i class="fa-md fa-solid fa-chevron-right text-gray-400"></i>
    </div>
  </div>
</div>

<div class="h-2 w-full bg-gray-100"></div>
<div class="p-2 px-3">
  <div class="flex items-center">
    <div>
      <i class="fa-sm fa-solid fa-check-to-slot text-purple-800"></i>
    </div>
    <b for="green-checkbox" class="ms-1 text-xs text-gray-900">
      Inventore Official
    </b>
  </div>
  <div class="flex mt-2">
    <div class="w-11 mr-2">
      <img src="https://images.pexels.com/photos/2587370/pexels-photo-2587370.jpeg?auto=compress&cs=tinysrgb&w=800" alt="cart1">
    </div>
    <div class="ms-1 text-xs text-gray-400 font-normal leading-4">
      <div>
        <label>Nulla earum nobis cum quas! Illo, impedithukik<br/> Lorem ipsum dolor sit amet consectetur</label><br/>
        <label>30</label><br/>
        <b class="text-gray-700">1 x Rp.349.000</b>
      </div>
    </div>
  </div>
  <div class="my-2 flex justify-between text-xs text-gray-400">
    <div class="flex space-x-1">
      <div>
        <i class="fa-regular fa-square-check"></i>
      </div>
      <u>Proteksi Rusak Total</u>
    </div>
    <div class="flex items-center space-x-3">
      <label class="ms-1">
        (Rp14.000)
      </label>
      <input type="checkbox" class="w-4 h-4 accent-green-600 bg-gray-100 border-green-300 rounded focus:ring-green-500">
    </div>
  </div>
  <select class="select select-bordered select-md w-full font-semibold text-sm">
    <option disabled selected>Pilih Pengiriman</option>
    <option>Han Solo</option>
    <option>Greedo</option>
  </select>
  
</div>

<div class="h-2 w-full bg-gray-100"></div>
<div class="flex justify-between items-center bg-green-100 px-3 py-3 border-t-2 border-b-2 border-green-400">
  <div class="flex items-center space-x-2">
    <i class="fa-solid fa-coins text-yellow-400"></i>
    <b class="text-xs">Yuk, pakai 2 promo biar hemat Rp6.670!</b>
  </div>
  <div class="flex justify-end">
    <i class="fa-xs fa-solid fa-chevron-right"></i>
  </div>
</div>

<div class="h-2 w-full bg-gray-100"></div>
<div class="p-2 px-3">
  <div class="text-xs text-gray-400">
    <b class="text-gray-700">Cek ringkasan belanjamu, yuk</b><br/>
    <div class="my-2 flex justify-between pb-2 border-b">
      <span>Total Harga (1 Barang)</span>
      <span>Rp349.750</span>
    </div>
    <div class="my-2 flex justify-between pb-2 border-b">
      <span>Total Belanja</span>
      <b class="text-gray-700">-</b>
    </div>
    <div class="my-2 flex justify-between pb-2 border-b items-center">
      <i class="fa-xl fa-solid fa-cubes text-yellow-400"></i>
      <div class="text-gray-400 font-semibold">
        Bulatkan dengan nabung emas <u>S&K berlaku ...</u>
      </div>
      <input id="green-checkbox" type="checkbox" class="w-4 h-4 accent-green-600 bg-gray-100 border-green-300 rounded focus:ring-green-500">
    </div>
  </div>
  <button 
    routerLink="/pembayaran"
    class="btn btn-block bg-green-600 text-white btn-md font-bold">
    Pilih Pembayaran
  </button>
</div>
