<!-- Headaer Home-->
<div *ngIf="url==='/home'" class="sticky top-0 p-3 z-30 bg-white">
  <div class="flex justify-between items-center justify-between">
    <!-- Right -->
    <label for="table-search" class="sr-only">Search</label>
    <div class="relative w-full mr-5">
        <div class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
        </div>
        <input type="text" 
        id="table-search" 
        class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-xl bg-gray-50" 
        placeholder="Cari di Tokopedia">
    </div>

    <!-- Left -->
    <div class="space-x-5 flex items-center">
      <div class="relative h-6 w-6">
        <div class="absolute px-1 -right-1.5 -top-0.5 bg-red-500 rounded-full flex items-center text-center">
          <span style="font-size: 8px;" class="text-white text-center">
            6
          </span>
        </div>
        <i class="fa-lg fa-regular fa-envelope"></i>
      </div>
      <i class="fa-lg fa-regular fa-bell"></i>
      <div routerLink="/cart" class="relative h-6 w-6">
        <div class="absolute px-1 -right-1.5 -top-0.5 bg-red-500 rounded-full flex items-center text-center">
          <span style="font-size: 8px;" class="text-white text-center">
            {{lengthNotif}}
          </span>
        </div>
        <i class="fa-lg fa-solid fa-cart-shopping"></i>
      </div>
      <button (click)="openNav()">
        <i class="fa-lg fa-solid fa-bars"></i>
      </button>

    </div>
  </div>
</div>

<!-- Headaer Konfrimasi-->
<div *ngIf="url==='/konfirmasi-pengiriman'" class="sticky top-0 p-3 z-30 bg-white">
  <div class="flex justify-between items-center justify-between">
    <!-- left -->
    <button (click)="goBackPage()">
      <i class="fa-lg fa-solid fa-arrow-left-long"></i>
      <b class="ml-5 text-lg">Pengiriman</b>
    </button>
  </div>
</div>

<!-- Headaer Pembayaran-->
<div *ngIf="url==='/pembayaran'" class="sticky top-0 p-3 z-30 bg-white">
  <div class="flex justify-between items-center justify-between">
    <!-- left -->
    <button (click)="goBackPage()">
      <i class="fa-lg fa-solid fa-arrow-left-long"></i>
      <b class="ml-5 text-lg">Pembayaran</b>
    </button>
  </div>
</div>

<!-- Navbar Menu -->
<div id="myNav" class="transition ease-linear h-full w-0 fixed top-0 left-0 z-40 bg-white text-gray-500 overflow-auto">
  <!-- Header Navbar Menu -->
  <div class="p-4">
    <div class="flex items-center space-x-5">
      <button (click)="closeNav()">
        <i class="fa-xl fas fa-times"></i>
      </button>
      <span class="font-semibold text-lg text-gray-700">Menu Utama</span>
    </div>

    <div class="mt-3"></div>
    <div class="flex items-center w-full h-20">
      <div class="w-1/5 flex items-center">
        <div class="avatar">
          <div class="w-4/5 rounded-full">
            <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
          </div>
        </div>
      </div>
      <div class="w-3/5 space-y-0.5">
        <div class="flex items-center space-x-1">
          <div class="w-4 h-4 bg-yellow-500 flex justify-center items-center rounded-full">
            <i class="fas fa-star fa-2xs text-white"></i>
          </div>
          <div class="text-xs text-gray-700 font-bold">
            Happid Ridwan Ilmi
          </div>
        </div>
        <div class="flex items-center space-x-1">
          <div class="w-4 h-4 bg-blue-400 flex justify-center items-center rounded-full">
            <i class="fas fa-wallet fa-2xs text-white"></i>
          </div>
          <div class="flex items-center text-xs text-gray-500 font-bold font-light">
            Rp67.000 
            <b class="mx-1 font-semibold font-normal text-gray-700 text-lg">.</b> 
            65.308 Coins
          </div>
        </div>
        <div class="flex items-center space-x-1">
          <div class="w-4 h-4 flex justify-center items-center rounded-full">
            <i class="far fa-money-bill-alt text-green-400"></i>
          </div>
          <div class="flex items-center text-xs text-gray-500 font-bold font-light">
            Saldo Rp7.000 
          </div>
        </div>
      </div>
      <div class="w-1/5 flex justify-end">
        <i class="fas fa-cog fa-lg"></i>
      </div>
    </div>

    <div class="mt-3"></div>
    <div class="px-2 py-3 w-full flex items-center border rounded">
      <div class="w-4/5 text-xs ml-2 text-gray-700 flex items-center space-x-3">
        <i class="text-green-600 font-bold text-lg">PLUS</i>
        <div class="font-semibold leading-3">
          Nikmati Bebas Ongkir Tanpa Batas !
          <span class="font-light text-gray-500" style="font-size: 9px;">Dikirim cepat & dapat GoFood PLUS juga</span>
        </div>
      </div>
      <div class="w-1/5 flex justify-end px-2">
        <i class="fas fa-chevron-right fa-sm"></i>
      </div>
    </div>

    <div class="mt-3"></div>
    <div class="grid grid-cols-2 gap-4">
      <div class="col-span-1">
        <div class="px-2 py-3 w-full flex items-center border rounded">
          <div class="w-4/5 text-xs ml-2 text-gray-700 flex items-center space-x-3">
            <div class="font-semibold leading-3">
              Buka Toko Gratis
            </div>
          </div>
          <div class="w-1/5 flex justify-end px-2">
            <i class="fas fa-chevron-right fa-sm"></i>
          </div>
        </div>
      </div>
      <div class="col-span-1">
        <div class="px-2 py-3 w-full flex items-center border rounded">
          <div class="w-4/5 text-xs ml-2 text-gray-700 flex items-center space-x-3">
            <div class="font-semibold leading-3">
              Daftar Affiliate
            </div>
          </div>
          <div class="w-1/5 flex justify-end px-2">
            <i class="fas fa-chevron-right fa-sm"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="h-2 w-full bg-gray-100"></div>

  <!-- Section Navbar Menu -->
  <div class="p-4">
    <div class="w-full flex items-center">
      <div class="w-4/5 text-sm ml-2 text-gray-700 flex items-center space-x-3">
        <i class="fa-lg far fa-list-alt"></i>
        <div>
          Daftar Transaksi
        </div>
      </div>
      <div class="w-1/5 flex justify-end px-2">
        <i class="fas fa-chevron-right fa-sm"></i>
      </div>
    </div>
    <div class="mt-3"></div>
    <div class="w-full carousel space-x-3">
      <div class="carousel-item w-4/5">
        <div class="px-2 py-3 w-full flex border rounded-box">
          <img src="https://images.pexels.com/photos/341523/pexels-photo-341523.jpeg?auto=compress&cs=tinysrgb&w=800" class="w-20 rounded" alt="Tailwind CSS Carousel component" />
          <div class="text-xs ml-2 font-semibold leading-2 text-orange-400">
            Tiba di Tujuan<br/>
            <span class="font-light text-gray-500 uppercase">Hardcase casing mika...</span>
          </div>
        </div>
      </div> 
      <div class="carousel-item w-4/5">
        <div class="px-2 py-3 w-full flex border rounded-box">
          <img src="https://images.pexels.com/photos/4158/apple-iphone-smartphone-desk.jpg?auto=compress&cs=tinysrgb&w=800" class="w-20 rounded" alt="Tailwind CSS Carousel component" />
          <div class="text-xs ml-2 font-semibold leading-2 text-orange-400">
            Tiba di Tujuan<br/>
            <span class="font-light text-gray-500 uppercase">Hardcase casing mika...</span>
          </div>
        </div>
      </div> 
      <div class="carousel-item w-4/5">
        <div class="px-2 py-3 w-full flex border rounded-box">
          <img src="https://images.pexels.com/photos/341523/pexels-photo-341523.jpeg?auto=compress&cs=tinysrgb&w=800" class="w-20 rounded" alt="Tailwind CSS Carousel component" />
          <div class="text-xs ml-2 font-semibold leading-2 text-orange-400">
            Tiba di Tujuan<br/>
            <span class="font-light text-gray-500 uppercase">Hardcase casing mika...</span>
          </div>
        </div>
      </div> 
    </div>

    <div class="mt-5"></div>
    <div class="w-full flex items-center">
      <div class="w-4/5 text-sm ml-2 text-gray-700 flex items-center space-x-3">
        <i class="fa-lg far fa-star"></i>
        <div>
          Ulasan
        </div>
      </div>
      <div class="w-1/5 flex justify-end px-2">
        <i class="fas fa-chevron-right fa-sm"></i>
      </div>
    </div>
    <div class="mt-3"></div>
    <div class="w-full carousel space-x-3">
      <div class="carousel-item w-4/5">
        <div class="px-2 py-3 w-full flex border rounded-box">
          <img src="https://images.pexels.com/photos/341523/pexels-photo-341523.jpeg?auto=compress&cs=tinysrgb&w=800" class="w-20 rounded" alt="Tailwind CSS Carousel component" />
          <div class="text-xs ml-2 font-semibold">
            <span class="font-light text-gray-500 uppercase">Hardcase casing mika...</span>
            <div class="flex w-full space-x-3 mt-1">
              <i class="fas fa-star text-yellow-400"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
      </div> 
      <div class="carousel-item w-4/5">
        <div class="px-2 py-3 w-full flex border rounded-box">
          <img src="https://images.pexels.com/photos/4158/apple-iphone-smartphone-desk.jpg?auto=compress&cs=tinysrgb&w=800" class="w-20 rounded" alt="Tailwind CSS Carousel component" />
          <div class="text-xs ml-2 font-semibold">
            <span class="font-light text-gray-500 uppercase">Hardcase casing mika...</span>
            <div class="flex w-full space-x-3 mt-1">
              <i class="fas fa-star text-yellow-400"></i>
              <i class="fas fa-star text-yellow-400"></i>
              <i class="fas fa-star text-yellow-400"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
      </div> 
      <div class="carousel-item w-4/5">
        <div class="px-2 py-3 w-full flex border rounded-box">
          <img src="https://images.pexels.com/photos/341523/pexels-photo-341523.jpeg?auto=compress&cs=tinysrgb&w=800" class="w-20 rounded" alt="Tailwind CSS Carousel component" />
          <div class="text-xs ml-2 font-semibold">
            <span class="font-light text-gray-500 uppercase">Hardcase casing mika...</span>
            <div class="flex w-full space-x-3 mt-1">
              <i class="fas fa-star text-yellow-400"></i>
              <i class="fas fa-star text-yellow-400"></i>
              <i class="fas fa-star text-yellow-400"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
      </div> 
    </div>

    <div class="mt-5"></div>
    <div class="w-full flex items-center">
      <div class="w-4/5 text-sm ml-2 text-gray-700 flex items-center space-x-3">
        <i class="fa-lg far fa-heart"></i>
        <div>
          Wishlist
        </div>
      </div>
      <div class="w-1/5 flex justify-end px-2">
        <i class="fas fa-chevron-right fa-sm"></i>
      </div>
    </div>

    <div class="mt-5"></div>
    <div class="w-full flex items-center">
      <div class="w-4/5 text-sm ml-2 text-gray-700 flex items-center space-x-3">
        <i class="fa-lg fas fa-store-alt"></i>
        <div>
          Toko yang Di-follow
        </div>
      </div>
      <div class="w-1/5 flex justify-end px-2">
        <i class="fas fa-chevron-right fa-sm"></i>
      </div>
    </div>

  </div>

  <div class="h-2 w-full bg-gray-100"></div>

  <!-- Footer Navbar Menu -->
  <div class="p-4">

    <div class="w-full flex items-center">
      <div class="w-4/5 text-sm ml-2 text-gray-700 flex items-center space-x-3">
        <i class="fa-lg fas fa-user-clock"></i>
        <div>
          Pesanan Dikomplain
        </div>
      </div>
      <div class="w-1/5 flex justify-end px-2">
        <i class="fas fa-chevron-right fa-sm"></i>
      </div>
    </div>

    <div class="mt-5"></div>
    <div class="w-full flex items-center">
      <div class="w-4/5 text-sm ml-2 text-gray-700 flex items-center space-x-3">
        <i class="fa-lg fas fa-user-astronaut"></i>
        <div>
          Bantuan Tokopedia Care
        </div>
      </div>
      <div class="w-1/5 flex justify-end px-2">
        <i class="fas fa-chevron-right fa-sm"></i>
      </div>
    </div>

    <div class="mt-5"></div>
    <div class="w-full flex items-center">
      <div class="w-4/5 text-sm ml-2 text-gray-700 flex items-center space-x-3">
        <i class="fa-lg fas fa-qrcode"></i>
        <div>
          Scan Kode QR
        </div>
      </div>
      <div class="w-1/5 flex justify-end px-2">
        <i class="fas fa-chevron-right fa-sm"></i>
      </div>
    </div>

  </div>

</div>